/*body { 
  background-color: #7FDBFF;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        medium;
  line-height: 		2em;
}

h1 {
	font-size: 160%;
	text-align: left;
}*/
body { 
  background-color: #7FDBFF;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        medium;
  line-height: 		2em;
  border-style: 	dashed;
}

h2,h3, ul {
	margin-left: 	50px;
}

ul {
	list-style-type: none;
}

p {
	margin-left:   	50px;
	font-weight: 	bold;
}

a {
	font-size: 	120%;
}

a: link {
	color: honeydew;
}

#footer {
	position: 			absolute;
	left: 				0;
	bottom: 			0;
	width: 				100%
	background-color:	powderblue;
	color:				black;
	text-align: 		center;
	font-size: 			50%;
}