body { 
  background-color: #7FDBFF;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        medium;
}

h2,h3 {
	margin-left: 	50px;
}

ul {
	list-style-type: 	none;
	padding:			 		10px; 
  margin:  					 0;
}

hr {
    height:             2px;
    width:              500px;
    margin-left:        50px;
    color:              gray;
}

#tests {
	margin-left: 			50px;
  border-style:   	dashed;
  border-color:   	coral;
  width:          	500px; 
  line-height:    	35px;
}

a {
	font-size: 	120%;
}

a: link {
	color: honeydew;
}

.sound {
	margin-left: 	50px;
}

#footer {
	position: 			absolute;
	left: 				0;
	bottom: 			0;
	width: 				100%
	background-color:	blue;
	color:				black;
	text-align: 		center;
	font-size: 			50%;
}